
java/.classpath

java/.project

java/KinesisLambdaTestConsumer/.classpath

java/KinesisTestProducers/.classpath

java/KinesisTestProducers/.project

*.class

node/.project

python/.project

python/.pydevproject

*.pyc